@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');
@import "reset";
@import "colors";
@import "product-card";
@import "typography";
.navbar {
    display: flex;
    width: 100%;
    li {
        padding: .5rem 1rem;
    }
    li:first-child {
        padding-left: 0;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.cart-card {
    margin: 0 0 1rem 0;
}

.subtotal {
    margin: 3rem 0 1rem 0;
}

.btn-checkout {
    padding: 0.875em 1.5em;
    border-radius: 3px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 700;
    &:hover {
        background-color: rgb(85, 85, 85);
    }
}

.checkout-form {
    label,
    input {
        display: block;
    }
    input {
        padding: 0.875em 1.5em;
        border-radius: 3px;
    }
    .btn-checkout {
        margin: 2rem 0;
    }
}

footer {
    padding: 1rem 0;
}

.footer-content {
    display: flex;
    div {
        margin-right: 10rem;
    }
    .stack {
        display: flex;
        flex-direction: column;
    }
    h6 {
        padding-bottom: 0.25rem;
    }
}

@media screen and (min-width: 1024px) {
    nav,
    .footer-content {
        width: 70%;
        margin: auto;
    }
}