nav {
    margin-bottom: 2rem;
}

.navbar {
    display: flex;
    li {
        padding: .5rem 1rem;
    }
    li:first-child {
        padding-left: 0;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: darkgray;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    a {
        padding: 0.5rem 1rem;
        display: block;
    }
    a:hover {
        background-color: #f1f1f1
    }
}