@import "colors";
body {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 2.875em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fira Sans', sans-serif;
}

.code-icons i {
    font-size: 2em;
    padding-right: 0.5rem;
}

.social i {
    font-size: 3rem;
    padding-right: 1rem;
}

.fab,
.fas {
    color: $darkgray;
    .social &:hover {
        color: $wintergreendream;
    }
}