body {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 2.875em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fira Sans', sans-serif;
}

.text-holder i,
.social i {
    font-size: 2rem;
    padding-right: 1rem;
}