* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  margin-bottom: 2rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  padding: .5rem 1rem;
}

.navbar li:first-child {
  padding-left: 0;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  padding: 0.5rem 1rem;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
}

body {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 2.875em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', sans-serif;
}

.code-icons i {
  font-size: 2em;
  padding-right: 0.5rem;
}

.social i {
  font-size: 3rem;
  padding-right: 1rem;
}

.fab,
.fas {
  color: #858786;
}

.social .fab:hover, .social
.fas:hover {
  color: #6B9080;
}

html {
  background-image: -webkit-gradient(linear, left top, right top, from(#CCE3DE), color-stop(#A4C3B2), to(#6B9080));
  background-image: linear-gradient(to right, #CCE3DE, #A4C3B2, #6B9080);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.solid-background {
  display: none;
}

nav,
main,
footer {
  margin: 2%;
}

.main-card {
  background-color: white;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2%;
}

.main-card img {
  border-radius: 10px;
}

.text-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-holder p ~ p {
  padding-bottom: 0.5rem;
}

.text-holder h3,
.text-holder .code-icons {
  padding-bottom: 2rem;
}

.code-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.assignment-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.assignment-card {
  background-color: #F5F5F5;
  padding: 1rem;
  margin: 0 0 1rem 0;
}

.assignment-card h5,
.assignment-card p {
  padding-bottom: 0.5rem;
}

@media (min-width: 992px) {
  nav,
  main,
  footer {
    margin: 2rem auto;
    width: 70%;
  }
  body {
    position: relative;
    overflow-x: hidden;
  }
  .solid-background {
    display: block;
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 75%;
    background-color: #F2F8F6;
    z-index: -1;
  }
  .main-card {
    padding: 1.5rem;
  }
  .about-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 1.5rem;
    justify-items: center;
  }
  .assignment-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .assignment-card {
    margin: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */