@import "reset";
@import "navigation";
@import "typography";
@import "colors";
html {
    background-image: linear-gradient(to right, $lightcyan, $cambridgeblue, $wintergreendream);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.solid-background {
    display: none;
}

nav,
main,
footer {
    margin: 2%;
}

.main-card {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 2%;
    img {
        border-radius: 10px;
    }
}

.text-holder {
    display: flex;
    flex-direction: column;
    p~p {
        padding-bottom: 0.5rem;
    }
    h3,
    .code-icons {
        padding-bottom: 2rem;
    }
}

.code-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.assignment-container {
    display: grid;
    grid-template-columns: auto;
}

.assignment-card {
    background-color: $lightgray;
    padding: 1rem;
    margin: 0 0 1rem 0;
    h5,
    p {
        padding-bottom: 0.5rem;
    }
}

@media (min-width: 992px) {
    nav,
    main,
    footer {
        margin: 2rem auto;
        width: 70%;
    }
    body {
        position: relative;
        overflow-x: hidden;
    }
    .solid-background {
        display: block;
        height: 50vh;
        width: 100vw;
        position: absolute;
        top: 75%;
        background-color: $greenishwhite;
        z-index: -1;
    }
    .main-card {
        padding: 1.5rem;
    }
    .about-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1.5rem;
        justify-items: center;
    }
    .assignment-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .assignment-card {
        margin: 1rem;
    }
}