body {
    margin: 2%;
}

div {
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.container:hover {
    font-weight: bold;
}

.first-div {
    background-color: #cce3de;
}

.sec-div {
    background-color: #a4c3b2;
}

.third-div {
    background-color: #6b9080;
}

#change-color {
    display: block;
}