body {
    margin: 2%;
}

div {
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

div:hover {
    font-weight: bold;
}

.first-div {
    background-color: #cce3de;
}

.sec-div {
    background-color: #a4c3b2;
}

.third-div {
    background-color: #6b9080;
}

button {
    background-color: #eaf4f4;
    border: none;
    border-radius: 5px;
    padding: 1rem;
}

#clickme {
    margin: 0 0 1rem 0;
}

#change-color {
    margin: 1rem 0;
}